body {
	background-color: #E5E5E5;
}

div.body_container {
	margin: 30px auto auto;
	width: 55%;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: 50px;
	height: 85%;
	box-shadow: 0px 2px 2px #000000;
}

input#new_task {
	font-size: 32px;
	width: 80%;
	text-indent: 10px;
}

div#tasks_list {
	margin: 15px auto auto;
	overflow: auto;
	max-height: 500px;
}

div.task {
	font-size: 22px;
	padding: 3px 10px 5px 5px;
	margin-top: 10px;
	background-color: #F2F2Ff;
	border: 1px solid #E5E5E5;
	cursor: move;
	margin-top: 10px;
	word-wrap: break-word;
}

div.task:hover {
	background-color: #F2FFF2;
	color: #080808;
}

div.complete_task {
	background-color: #FFF2F2;
}

div.task:first {
	margin-top: 0px;
}

div.task div.edit {
	display: none;
}

div.edit input {
	width: 60%;
	font-size: 18px;
	font-family: inherit;
	margin: 0;
	border: 0;
	outline: none;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;	
}

span.task_text {
	padding-left: 10px;
	cursor: default;
}

div#tasks_list div.task:hover a.delete {
	display: inline-block;
}

a.delete {
	font-size: 14px;
	color: red;
	text-decoration: none;
	padding-left: 20px;
	display: none;
	cursor: pointer;
}

a.remove_all {
	display: inline-block;
	padding-top: 10px;
	color: red;
}

.complete {
	text-decoration: line-through;
}

.incomplete {
	text-decoration: none;
}

div.edit_task {
	display: none;
}